
<!DOCTYPE html>
<html>
<head >
    <meta charset="UTF-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title>Empty Angular project</title>

    <link href="../bower_components/angular-material/angular-material.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    <link href="../src/materialdate.css" rel="stylesheet">


    <!-- angular  js-->
    <script src="../bower_components/angular/angular.js"></script>
    <!-- angular material js-->

    <script src="../bower_components/hammerjs/hammer.min.js"></script>
    <script src="../bower_components/angular-aria/angular-aria.min.js"></script>
    <script src="../bower_components/angular-material/angular-material.min.js"></script>
    <script src="../bower_components/angular-i18n/angular-locale_fr.js"></script>
    <script src="../bower_components/angular-animate/angular-animate.min.js"></script>

<!-- SRC -->
    <script src="../src/datePicker.js"></script>
    <!-- Init App -->
    <script src="script.js"></script>

    
   


</head>
<body ng-app="myApp" ng-controller="totoCtrl">

    <div style="height: 1000px;">
    {{ 'World' | greet }} // {{toto}}
    {{ date | date:'MM/yyyy'}}
    <div>
        <input type="text" ng-model="toto" >
    </div>

    <datepicker ng-model="toto" format="dd-MM-yyyy" mindate="date" maxdate="maxdate" onok="coucou" oncancel="coucou" date="date"
    oklabel="'ok'" cancel="cancel"
    ></datepicker>
</div>
</body>
</html>